.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left {
    width: 100%;
    max-width: 500px;
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
    font-size: 14px;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: 500px;
}

.place-order-right .cart-total {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.place-order-right .cart-total h2 {
    font-size: 24px;
    font-weight: 600;
}

.place-order-right .cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555;
}

.place-order-right .cart-total hr {
    margin: 10px 0;
    background-color: #e2e2e2;
    border: none;
    height: 1px;
}

.place-order-right .cart-total button {
    border: none;
    color: white;
    background-color: tomato;
    width: 100%;
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 30px;
    transition: 0.3s;
}

.place-order-right .cart-total button:hover {
    background-color: #e64a19;
}

/* Responsive */
@media (max-width: 900px) {
    .place-order {
        flex-direction: column;
        gap: 40px;
    }
    .place-order-left, .place-order-right {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .place-order-left .title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .place-order-left .multi-fields {
        flex-direction: column;
        gap: 0;
    }
}