.footer{
    color: #d9d9d9;
    background-color: #323232;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-left img{
    width: 150px;
}
.footer-content-center, .footer-content-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.footer-content-center ul, .footer-content-right ul{
    list-style: none;
}
.footer-content-center li, .footer-content-right li{
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-center h2, .footer-content-right h2{
    color: white;
}
.footer-social-icon{
    display: flex;
    gap: 15px;
}
.footer-social-icon img{
    width: 40px;
    cursor: pointer;
}
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: grey;
    border: none;
}
.footer-copyright{
    text-align: center;
}


/* Responsive */
@media (max-width: 750px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 35px;
    }
    .footer-content-left {
        align-items: center;
        text-align: center;
    }
    .footer-content-center, .footer-content-right {
        align-items: center;
        text-align: center;
    }
    .footer-social-icon {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 20px 5vw;
        padding-top: 50px;
    }
    .footer-social-icon img {
        width: 32px;
    }
}