.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    width: 120px;
}

.navbar .profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


/* Responsive */
@media (max-width: 900px) {
    .navbar {
        padding: 10px 15px;
    }
    .navbar .logo {
        width: 100px;
    }
    .navbar .profile {
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 500px) {
    .navbar .logo {
        width: 80px;
    }
    .navbar .profile {
        width: 30px;
        height: 30px;
    }
}