.app-download{
    margin: auto ;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}
.app-download-platforms{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}
.app-download-platforms img{
    width: max(30vw, 120px);
   min-width: 180px;
    cursor: pointer;
    transition: 0.5s;
}


.app-download-platforms img:hover{
    transform: scale(1.1);
}


/* Responsive */
@media (max-width: 750px) {
    .app-download {
        margin-top: 60px;
    }
    .app-download-platforms {
        flex-direction: column;
        gap: 15px;
        margin-bottom: 60px;
    }
    .app-download-platforms img {
        width: 50vw;
        max-width: 200px;
    }
}