.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 15px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 2s;
    
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px) ;
    border-radius: 50px;
}


/* Responsive */
@media (max-width: 1050px) {
    .header-contents {
        max-width: 60%;
    }
}

@media (max-width: 750px) {
    .header {
        height: 38vw;
    }
    .header-contents {
        max-width: 70%;
    }
    .header-contents p {
        font-size: max(1.5vw, 10px);
    }
}

@media (max-width: 500px) {
    .header-contents h2 {
        font-size: max(4vw, 18px);
    }
    .header-contents button {
        padding: 8px 16px;
    }
}